{% extends 'layout.html' %}
{% block content %}
 <div class="container">
  <div class="hero-unit">
    <h1>OT Order</h1>
      <h2 class="landing-sub">Welcome, dear linguists.</h2>
      <p>This website is your source for serious OT work.</p>
      <p>
        <a href="{{ url_for('tools.calculator') }}" class="btn btn-primary btn-large">Rank constraints</a>
        <!--<a href="{{ url_for('tools.example_edit')}}" class="btn btn-secondary btn-large">Example dataset</a>-->
      </p>
  </div>
</div>
{% endblock %}
