<div ng-controller="AprioriController as a">
  <h2>Specify an apriori ranking</h2>
  <div class="row vertical-align">
    <div class="span2">
      <a href="#" id="clear" class="btn btn-danger" ng-click="a.clear_ranking()">Clear ranking</a>
    </div>
    <div class="span10">
      <table class="table" id="apriori_table">
        <thead class="no_top_border">
          <tr>
            <th class="center_contents">This constraint...</th>
            <th id="header_label" colspan="10" class="center_contents">is ranked above these constraints</th>
          </tr>
        </thead>
        <tr>
          <td class="center_contents empty_cell"></td>
          <td class="constraint center_contents" ng-repeat="constraint in a.dset.constraints track by $index">{{constraint}}</td>
        </tr>
        <tr class="constraint_row" ng-repeat="constraint_0 in a.dset.constraints track by $index" id="row_{{constraint_0}}">
          <td class="constraint row_header center_contents">{{constraint_0}}</td>
          <td class="center_contents checkbox_container"
            ng-repeat="constraint_1 in a.dset.constraints track by $index"
            ng-class="{'checked': a.ranking.contains(constraint_0, constraint_1),
                       'deactivated': a.ranking.cannot_add(constraint_0, constraint_1)}"
            ng-click="a.add_or_remove(constraint_0, constraint_1)">
            {{a.ranking.contains(constraint_0, constraint_1) ? "&#10003;" : ""}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span2"></div>
    <div class="span10">
      <div class="alert" ng-show="a.transitively_required" id="ranking_required_alert">
        That ranking is required by transitivity. In order to remove it, you'll have to adjust the other rankings.
      </div>
    </div>
  </div>
</div>
