{%- if lengths -%}
  <h4 id="sort-header">Sort grammars by:
    <select id="sort-grammars-by">
      <option value="size">size of grammar</option>
      <option value="rank_volume">ranking volume</option>
    </select>
    <button class="btn btn-secondary">sort</button>
  </h4>
  <div class="btn-toolbar">
    <div class="btn-group sort-values">
      {%- for l in lengths -%}
        <a class="btn{%- if l == sort_value %} active{%- endif -%}" href="{{ url_for('grammars.grammars', dset_name=dset_name, sort_value=l, page=0, classical=classical, sort_by=sort_by) }}">{{ l }}</a>
      {%- endfor -%}
    </div>
  </div>
  <div>
      <p>Currently viewing {{ min_ind + 1 }}-{{ max_ind + 1 }} out of {{ num_rank_grams }} grammars with {{' '}}
        {%- if sort_by == 'size' -%}
          {{ sort_value }} rankings.
        {%- elif sort_by == 'rank_volume' -%}
          ranking volume of {{ sort_value }}
        {%- endif -%}
      </p>
    <div class="btn-group">
      <a class="btn{%- if page <= 0 %} disabled"{%- else -%}" href="{{ url_for('grammars.grammars', dset_name=dset_name, sort_value=sort_value, page=(page-1), classical=classical, sort_by=sort_by) }}"{%- endif -%}>Prev</a>
      <a class="btn{%- if max_ind + 1 >= num_rank_grams %} disabled"{%- else -%}" href="{{ url_for('grammars.grammars', dset_name=dset_name, sort_value=sort_value, page=(page+1), classical=classical, sort_by=sort_by) }}"{%- endif -%}>Next</a>
    </div>
  </div>
  <div id="grammar_graphs">
    {%- for g in grammar_info -%}
    {%- set cots_by_cand = g['cots_by_cand'] -%}
    {%- set input_totals = g['input_totals'] -%}
    <div class="row breakdown-by-candidate">
      <h3>{{ g['grammar']|safe }}</h3>
      <div class="span5">
        <span class="helper"></span>
        <img class="graph" src="{{ url_for('grammars.graph', dset_name=dset_name, filename=g['filename']) }}" alt="{{g['filename']}}"></img>
      </div>
      <div class="span2">
      </div>
      <div class="span5">
        {%- if not classical -%}
          <table class="table table-condensed table-hover">
            <thead>
              <tr><th>Input</th><th>Output</th><th># COT grammars</th><th>% COT grammars</th></tr>
            </thead>
            {%- for i in cots_by_cand.keys() -%}
              <tbody>
                <tr><td>{{ i }}</td><td></td><td>{{ input_totals[i]['raw_sum'] }}</td><td>{{ '%0.2f' % input_totals[i]['per_sum'] }}</td></tr>
                {%- for c in cots_by_cand[i] -%}
                  <tr><td></td><td>{{ c['output'] }}</td><td class="num_cot">{{ c['num_cot'] }}</td><td>{{ '%0.2f' % c['per_cot'] }}</td></tr>
                {%- endfor -%}
              </tbody>
            {%- endfor -%}
          </table>
          <a class="toggle-zero-candidates" href="#">Show all candidates</a>
        {%- endif -%}
      </div>
    </div>
    {%- endfor -%}
  </div>
{%- else -%}
  <h2>No compatible grammars found.</h2>
{%- endif -%}
