{%- extends 'layout.html' -%}
{%- block content -%}

<h2>Global Entailments</h2>
<div class="{{dset_name}}" id="entailments"></div>
<a class="btn btn-primary" href="{{ url_for('grammars.grammars', dset_name=dset_name, num_rankings=0, page=0) }}">View grammars</a>

{% raw %}
<script type="text/x-handlebars-template" id="entailment_graph_template">
    <img src="{{ url }}" alt="{{ url }}" class="graph"></img>
</script>
{% endraw %}

{%- endblock -%}
{%- block js_footer -%}
<script type="text/javascript" src="/static/entailments.js"></script>
{%- endblock -%}
