{%- extends 'layout.html' -%}
{%- block content -%}
<div class="hero-unit" id="global-statistics">
  <h2>Calculating grammars and global statistics for {{ dset_name }}</h2>
  <p>Please be patient, this may take a few minutes...</p>
</div>
<div id="spinner"></div>
<div class="container initially_hidden" id="grammars">
  <h2>Visualizing grammars and calculating individual grammar statistics</h2>
  <p>Please be patient, this may take a few minutes...</p>
</div>
<div id="info"  dset_name="{{ dset_name }}" sort_value="{{ sort_value }}"></div>
{%- endblock -%}
{%- block js_footer -%}
<script type="text/javascript" src="/static/grammars.js"></script>
{%- endblock -%}
