{%- extends 'layout.html' -%}
{%- block content -%}
<div class="hero-unit" id="global-statistics">
  <h2>Calculating grammars and global statistics for {{ dset_name }}</h2>
  <p>Please be patient, this may take a few minutes...</p>
</div>
<div id="spinner"></div>
<div class="container initially_hidden" id="grammars">
  <h2>Visualizing grammars and calculating individual grammar statistics</h2>
  <p>Please be patient, this may take a few minutes...</p>
</div>
<div id="info"  dset_name="{{ dset_name }}" sort_value="{{ sort_value }}"></div>
{% raw %}
<script type="text/x-handlebars-template" id="no_grammars_template">
  <h2>No compatible grammars found for {{dset_name}}</h2>
  {{#if apriori}}
  <p>The results were filtered by this ranking: <br />
  {{apriori}}</p>
  {{/if}}
  <a href="/{{dset_name}}/edit" class="btn btn-info">Edit dataset</a>
  <a href="/{{dset_name}}/entailments" class="btn btn-success">View entailments</a>
</script>
{% endraw %}
{%- endblock -%}
{%- block js_footer -%}
<script type="text/javascript" src="/javascript/grammars.js"></script>
{%- endblock -%}
