{%- extends 'layout.html' -%}
{%- block content %}
    <div class="container">
      <form class="form-signin" action="." method="POST">
        <h2 class="form-signin-heading">Log in</h2>
        {{ form.csrf_token }}
        {{ form.username(class="input-block-level", placeholder='Username') }}
        {{ form.password(class="input-block-level", placeholder='Password') }}
        <button class="btn btn-large btn-primary" type="submit">Log in</button>
      </form>
    </div>
    <p class="info">Don't have an account yet? <a href="{{ url_for('users.signup')}}">Create one.</a></p>
{%- endblock -%}
