{%- extends 'layout.html' -%}
{%- block content %}
    <div class="container">
      <form class="form-signin" action="." method="POST">
        <h2 class="form-signin-heading">Log in!</h2>
        {{ form.csrf_token }}
        {{ form.username(class="input-block-level", placeholder='Username') }}
        {{ form.password(class="input-block-level", placeholder='Password') }}
        <button class="btn btn-large btn-primary" type="submit">Log in</button>
      </form>
    </div>
    <div class="container">
      <div class="signin-options">
        <h3 class="form-signin-heading">Don't have an account yet?</h3>
        <button class="btn btn-block btn-primary" href="">Create an account and get started</button>
        <button class="btn btn-block" href="">Get started without being able to save datasets</button>
      </div>
    </div>
{%- endblock -%}
