{%- extends 'layout.html' -%}
{%- block head -%}
<style>body { background-color: #f5f5f5; }</style>
{%- endblock -%}
{%- block content %}
    <div class="container">
      <form class="form-signin" action="." method="POST">
        <h2 class="form-signin-heading">Log in!</h2>
        {{ form.csrf_token }}
        {{ form.username(class="input-block-level", placeholder='Username') }}
        {{ form.password(class="input-block-level", placeholder='Password') }}
        <button class="btn btn-large btn-primary" type="submit">Log in</button>
      </form>
    </div>
    <div class="container">
      <div class="signin-options">
        <h3 class="form-signin-heading">Don't have an account yet?</h3>
        <a class="btn btn-block btn-primary" href="{{ url_for('users.signup')}}">Create an account and get started</a>
        <a class="btn btn-block" href="{{ url_for('calculator.calculator') }}">Get started without being able to save datasets</a>
      </div>
    </div>
{%- endblock -%}
