div.footer {
    margin-top: 50px;
    padding: 50px;
    margin-bottom: 0px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}
.footer span {
    display: inline-block;
    max-width: 45%;
    margin-left: 30px;
    margin-right: 30px;
}
.initially_hidden {
    display: none;
}
.graph {
    margin: 20px;
    border: solid black 1px;
    padding: 10px;
    vertical-align: middle;
}
input#name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 60px;
    line-height: 60px;
    width: 400px;
    font-size: 250%;
}
#sort-header {
    display: table-cell;
    vertical-align: middle;
}
#sort-grammars-by {
    margin-top: auto;
    margin-bottom: auto;
}
th input, #name {
    font-weight: bold;
    text-align: center;
}
th input, tr.candidate td input {
    width: 4em;
    margin: 6px 3px;
}
fieldset {
    display: inline-block;
}
table.table tbody:nth-child(even) {
    background-color: white;
}
table.table-alternate tbody:nth-child(odd) {
    background-color: rgb(238, 238, 238);
}
table.table td {
    /*border-color: white;*/
}
.helper {
    display: inline-block;
    vertical-align: middle:
    height: 100%;
}
.breakdown-by-candidate {
    margin-top: 50px;
    text-align: center;
}
tr#tableaux_header th.borderless,
tr.candidate td.borderless {
    border: none;
}
tr.candidate td input[type="checkbox"] {
    margin: auto;
}
.input-header td {
    border-top: 2px solid #c0c0c0;
}
tr.output-only input[name$="inp"],
tr.output-only button {
    visibility: hidden;
}
table#tableaux {
    border-collapse: collapse;
    width: 50%;
    margin-right: auto;
}
table#buttons {
    margin-top: 50px;
}
th.t-order, td.t-order {
    padding: 0px;
    margin: 0px;
}
#buttons th {
    text-align: right;
}
#buttons button {
    margin: 3px 0px;
}
#tableaux_header th {
    border-bottom: 2px solid black;
}
#submit-btn-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
#alert_spacer, #submit-btn-container {
    margin-top: 30px;
}
#submit-btn-container .btn {
    width: 100%;
}
th, td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
}
.info {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
div.info {
    margin-top: 30px;
}
.form-landing, .signin-options, .form-signin {
    margin: auto;
    padding: 19px 29px 29px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
body {
    margin-top: 40px;
}
body.simple-form {
    background-color: #f5f5f5;
}
.form-landing {
    background-color: rgb(238, 238, 238);
}
.signin-options {
    max-width: 400px;
    margin-top: 50px;
}
.form-signin {
    max-width: 400px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
#landing_info_btn {
    margin-left: auto;
    margin-right: auto;
}
.scrollable {
    max-height: 400px;
    overflow: auto;
}
#head_table {
    margin-bottom: 2px;
}
#bottom-spacer {
    height: 480px;
}
#explain-constraints {
    max-width: 500px;
    margin-left: 75px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.constraint, .constraint input {
    font-variant: small-caps;
    font-weight: bold;
}
#apriori_table {
    margin-right: auto;
    vertical-align: center;
    max-width: 70%;
}
#apriori_table .center_contents {
    text-align: center;
}
.no_top_border th {
    border: none
}
.row_header {
    border-right: 1px solid #dddddd;
}
#apriori_table td.deactivated, #apriori_table .empty_cell {
    background-color: #dddddd;
    cursor: default;
}
#apriori_table .empty_cell, .checkbox_container:hover {
    background-color: #f5f5f5;
}
.checkbox_container:hover {
    cursor: pointer;
}
#apriori_table td.checked {
    background-color: lightsteelblue;
}
#ranking_required_alert {
    max-width: 70%;
    text-align: center;
    margin-right: auto
}
.apriori-tab-content .span2 {
    text-align: center;
}
.row.vertical-align {
    display: flex;
    align-items: center;
}

/* STUFF FOR NEW TABLEAUX */
.add-left, .add-right, .delete-this {
    padding-left: 3px;
    padding-right: 3px;
}
.add-left {
    float: left;
    text-align: left;
}
.delete-this {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.add-right {
    text-align: right;
    float: right;
}
.heading-spacer {
    height: 0em;
}
.label-container p {
    transform: translate(0, 70%);
}
.tableaux th, .tableaux td {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.tableaux th {
    border-top: none;
    border-bottom: 2px solid black;
}
.tableaux th:nth-of-type(1), .tableaux td:nth-of-type(1) {
    border-left: none;
}
.tableaux th:last-of-type, .tableaux td:last-of-type {
    border-right: none;
}
.tableaux td input {
    width: 4em;
    text-align: center;
    transform: translate(0, 20%);
}
.tableaux input[type=checkbox] {
    transform: translate(0, -20%);
    width: initial;
}
.ig-controls p, .row-controls p, .col-controls span {
    color: lightgray;
}
.ig-controls p:hover,
.row-controls p:hover,
.col-controls span:hover {
    cursor: pointer;
    color: black;
}
.row-controls p {
    margin: 0px;
    max-height: 1em;
}
p.add-below {
    margin-bottom: .5em;
}
.tableaux input, #dataset-name {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.tableaux input.ng-invalid {
    border: 1px solid red;
}
h2 {
    width: 100%;
    text-align: center;
}
.dset-ctrl {
    color: darkgray;
}
.dset-ctrl:hover {
    cursor: pointer;
    color: black;
}
.editor-controls-container {
    display: inline-block;
    line-height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.editor-controls-container span, .editor-controls-container a {
    margin-left: auto;
    margin-right: auto;
}
#dataset-name {
    height: 60px;
    line-height: 60px;
    min-width: 350px;
    font-size: 160%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.tableaux td.not-first-input {
    display: none;
}
.tableaux tr:hover,
.tableaux tr:hover input {
    background-color: #ebf5ff;
}
.tableaux tbody tr:last-child td,
td.first-input {
    border-bottom: 2px solid black;
}
.tableaux tbody:last-child tr:last-child td,
.tableaux tbody:last-child td.first-input {
    border-bottom: 1px solid lightgray;
}
.tableaux th:last-child {
    /*border-right: 1px solid lightgray*/
}
.tableaux td.ig-controls.not-first-input {
    display: none;
}
.tableaux td.ig-controls,
.tableaux td.input,
.tableaux td.input input {
    background-color: white;
}
.tableaux td {
    height: 54px;
}
.dummy {
    position: absolute;
    visibility: hidden;
    top: -9999px;
    left: -9999px;
}
body {
    margin-bottom: 50px;
    overflow-y: scroll;
}
.tableaux {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}
.tableaux thead {
    background: solid white;
}
th.optimal, td.optimal {
    width: 64px;
}
th.control-col {
    width: 15px;
}
iframe {
    width: 100%;
}

h2.landing-sub {
    text-align: left;
}
