{%- extends 'layout.html' -%}
{%- block content %}
{% raw %}
<div ng-app="app">
  <div ng-controller="EditorController as editor">
    <div class="alert" ng-repeat="err in editor.errors">
        <button type="button" class="close" ng-click="editor.remove_error(err)" data-dismiss="alert">&times;</button>
        <strong ng-bind="err"></strong>
    </div>
    <div class="alert" ng-repeat="msg in editor.messages">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong ng-bind="msg"></strong>
    </div>
    <ot-editor-controls></ot-editor-controls>
    <tabset>
      <tab heading="Tableaux">
        <ot-tableaux-editor></ot-tableaux-editor>
      </tab>
      <tab heading="A priori ranking">
        <ot-apriori-editor></ot-apriori-editor>
      </tab>
      <tab heading="Grammars">
        <div class="btn-group-vertical">
          <a class="btn btn-primary" ng-href="{{editor.grammar_url()}}">All grammars</a>
          <a class="btn btn-secondary" ng-href="{{editor.grammar_url()}}?page=0&classical=True&sort_by=rank_volume">Classical grammars</a>
        </div>
      </tab>
      <tab heading="Entailments">
        <a class="btn btn-success" ng-href="{{editor.entailment_url()}}">Entailments</a>
      </tab>
      </tabset>
  </div>
</div>
{% endraw %}
{%- endblock -%}
{%- block js_footer -%}
<!--Vendor stuff-->
<script type="text/javascript" src="/javascript/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/javascript/bower_components/angular-bootstrap/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>

<!--Bootstrapping-->
<script type="text/javascript" src="/javascript/app/app.module.js"></script>

<!--Dataset model-->
<script type="text/javascript" src="/javascript/app/models/models.module.js"></script>
<script type="text/javascript" src="/javascript/app/models/dataset.factory.js"></script>
<script type="text/javascript" src="/javascript/app/models/input_group.factory.js"></script>
<script type="text/javascript" src="/javascript/app/models/candidate.factory.js"></script>

<!--Dataset editor-->
<script type="text/javascript" src="/javascript/app/editor/editor.module.js"></script>
<script type="text/javascript" src="/javascript/app/editor/editor.controller.js"></script>
<script type="text/javascript" src="/javascript/app/editor/controls/editor_controls.directive.js"></script>

<!--Tableaux side of editor-->
<script type="text/javascript" src="/javascript/app/editor/tableaux/tableaux.module.js"></script>
<script type="text/javascript" src="/javascript/app/editor/tableaux/tableaux.controller.js"></script>
<script type="text/javascript" src="/javascript/app/editor/tableaux/hide_zero/hide_zero.directive.js"></script>
<script type="text/javascript" src="/javascript/app/editor/tableaux/edit_inline/edit_inline.directive.js"></script>
<script type="text/javascript" src="/javascript/app/editor/tableaux/fixed_header/fixed_header.directive.js"></script>
<script type="text/javascript" src="/javascript/app/editor/tableaux/tableaux_editor.directive.js"></script>

<!--Apriori editor-->
<script type="text/javascript" src="/javascript/app/editor/apriori/apriori.module.js"></script>
<script type="text/javascript" src="/javascript/app/editor/apriori/apriori.controller.js"></script>
<script type="text/javascript" src="/javascript/app/editor/apriori/apriori_editor.directive.js"></script>
<script type="text/javascript" src="/javascript/app/editor/apriori/transitive_set/transitive_set.factory.js"></script>

<!--Non-angular (will deprecate)-->
<!--<script type="text/javascript" src="/javascript/tabs.js"></script>-->
<!--<script type="text/javascript" src="/javascript/transitive_set.js"></script>-->
<!--<script type="text/javascript" src="/javascript/ranking.js"></script>-->
<!--<script type="text/javascript" src="/javascript/ranking_table.js"></script>-->
<!--<script type="text/javascript" src="/javascript/apriori_ranking.js"></script>-->
{%- endblock -%}
