{%- extends 'layout.html' -%}
{%- block content %}
<form action="
  {%- if t_order -%}
    {{ url_for('tools.t_order') }}
  {%- else -%}
    {{ url_for('tools.calculator') }}
  {%- endif -%}" method="POST">
    <div class="row">
      <div class="span3">
        <table id="buttons" cellspacing="0">
          <tr>
            <th>Constraints:</th>
            <td>
              <div class="btn-group">
                <button id="add_constraint" class="btn" type="button">+</button>
                <button id="delete_constraint" class="btn" type="button">-</button>
              </div>
            </td>
          </tr>
          <tr>
            <th>Input Groups:</th>
            <td>
              <div class="btn-group">
                <button id="add_input_group" class="btn" type="button">+</button>
                <button id="delete_input_group" class="btn" type="button">-</button>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
            </td>
          </tr>
        </table>
      </div>
      <div class="span9">
        <fieldset>
          <table id="tableaux" class="condensed" cellspacing="0">
          {{ form.csrf_token() }}
          <thead>
            <tr id="tableaux_header">
              <th>Input</th>
              <th>Output</th>
              <th class="{%- if t_order -%}t-order{%- endif -%}">
                {%- if not t_order -%}Optimal?{%- endif -%}
              </th>
              {%- set i = 1 %}
              {%- for constraint in form.constraints %}
              <th>{% if constraint.raw_data %}{{ constraint() }}{% else %}{{ constraint(value="C" ~ i) }}{% endif %}</th>
                {%- set i = i + 1 %}
              {%- endfor %}
              <th class="borderless"></th>
            </tr>
          </thead>
            {%- for ig in form.input_groups %}
              <tbody id="" class="input-group">
                {{ ig.csrf_token() }}
                {% set first = true %}
                {% for c in ig.candidates %}
                  <tr class="candidate {% if first %}input-header{% else %}output-only{% endif %}">
                    {{ c.csrf_token() }}
                    <td>{% if c.inp.raw_data %}{{ c.inp() }}{% else %}{{ c.inp(value="I1") }}{% endif %}</td>
                    <td>{% if c.outp.raw_data %}{{ c.outp() }}{% else %}{{ c.outp(value="O1") }}{% endif %}</td>
                    <td class="{%- if t_order -%}t-order{%- endif -%}">
                    {%- if not t_order -%}
                      {% if c.optimal.data %}{{ c.optimal(value="true") }}{% else %}{{ c.optimal(value="false") }}{% endif %}
                    {%- else -%}
                      {{ c.optimal(value="true", type="hidden") }}
                    {%- endif -%}
                    </td>
                    {%- for constraint in c.vvector %}
                      <td>{% if constraint.raw_data %}{{ constraint() }}{% else %}{{ constraint(value="") }}{% endif %}</td>
                    {%- endfor -%}
                    <td class="borderless">
                      <div class="btn-group">
                        <button class="btn btn-small add_output" type=button title="Add an output to this input group">+</button>
                        <button class="btn btn-small delete_output" type=button title="Delete an output from this input group">-</button>
                      </div>
                    </td>
                  </tr>
                  {% set first = false %}
                {% endfor %}
              </tbody>
            {%- endfor %}
          </table>
          <div id="submit-btn-container">
            <button type="submit" class="btn btn-primary btn-block">Rank!</button>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
{%- endblock -%}
{%- block js_footer -%}
<script type="text/javascript" src="{{ url_for('static', filename='tableaux.js') }}"></script>
{%- endblock -%}
